In [4]:
import pandas as pd
import numpy as np

#Creating a simple dataframe
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#Creating a dataframe from a list
lst = ['Geeks', 'for', 'Geeks', 'is', 'a', 'portal', 'for', 'Geeks']
df = pd.DataFrame(lst)
print(lst)

['Geeks', 'for', 'Geeks', 'is', 'a', 'portal', 'for', 'Geeks']

In [6]:
#Creating a dataframe from a dict of Numpy array
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns = ['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
#Creating a dataframe from a list of dictionaries
dict = {'name': ["Aparna", "Pankaj", "Sudhir", "Geeku"], 
        'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
        'score':[90, 40, 80, 98]}
df = pd.DataFrame(dict)
print(df)

     name  degree  score
0  Aparna     MBA     90
1  Pankaj     BCA     40
2  Sudhir  M.Tech     80
3   Geeku     MBA     98

In [9]:
#Working with pandas dataFrame index
#Accessing and modifying index
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
       'Age': [25, 30, 22, 35, 28],
       'Gender' : ['Male', 'Female', 'Male', 'Female', 'Male'], 
       'Salary': [50000, 55000, 40000, 70000, 48000]}
df = pd.DataFrame(data)
print(df.index)

RangeIndex(start=0, stop=5, step=1)

In [10]:
#Setting a custom index
#Set 'Name' column as the index
df_with_index = df.set_index('Name')
print(df_with_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [14]:
#Resetting the index
#Reset the index back to the default integer index
print(df)
df_old_index = df.reset_index()
print("\n")
print(df_old_index)

      Name  Age  Gender  Salary
0     John   25    Male   50000
1    Alice   30  Female   55000
2      Bob   22    Male   40000
3      Eve   35  Female   70000
4  Charlie   28    Male   48000


   index     Name  Age  Gender  Salary
0      0     John   25    Male   50000
1      1    Alice   30  Female   55000
2      2      Bob   22    Male   40000
3      3      Eve   35  Female   70000
4      4  Charlie   28    Male   48000

In [19]:
#Indexing with loc
df_with_index = df.set_index('Name')
row = df_with_index.loc['Alice']
print(row)

Age           30
Gender    Female
Salary     55000
Name: Alice, dtype: object

In [20]:
#Changing the new index
#Set the 'Age' as the new index
df_with_new_index = df.set_index('Age')
print(df_with_new_index)

        Name  Gender  Salary
Age
25      John    Male   50000
30     Alice  Female   55000
22       Bob    Male   40000
35       Eve  Female   70000
28   Charlie    Male   48000